<h4>Answers</h4>
<hr>
{{#each sortedAnswers as |answer|}}
  <div class="row">
    <div class="col-xs-9 answer-entry">
      <p>{{answer.content}}</p>
      <ul>
        <li>{{answer.answerdate}}</li>
        <li class="author">{{answer.answerauthor}}</li>
      </ul>
    </div>
    <div class="score-panel col-xs-3">
      <button class="btn" {{action "increaseScore" answer}}><span class="glyphicon glyphicon-triangle-top"></span></button>
      <h4>{{answer.score}}</h4>
      <button class="btn" {{action "decreaseScore" answer}}><span class="glyphicon glyphicon-triangle-bottom"></span></button>
    </div>
  </div>
  <hr>
{{/each}}

<div class="answer-form">
{{new-answer question=question saveAnswer="saveAnswer"}}
</div>
